/*----------------------------
---------- RESET CSS ---------
----------------------------*/
h1 {
  font-weight: 500;
  margin: 0px;
  font-size: 48px;
}
h2 {
  font-weight: 500;
  margin: 0px;
  font-size: 30px;
  color: #232323;
}
h3 {
  font-weight: 500;
  margin: 0px;
}
h4 {
  font-weight: 500;
  margin: 0px;
  font-size: 18px;
  color: #232323;
}
h5 {
  font-weight: 500;
  margin: 0px;
  color: #232323;
}
h6 {
  font-weight: 500;
  margin: 0px;
  font-size: 14px;
  color: #232323;
}
p {
  margin: 0px;
}
a {
  transition: 0.6s;
  color: #666666;
  text-decoration: none;
  border: none;
  outline: 0;
  &:hover {
    color: #666666;
    text-decoration: none;
    border: none;
    outline: 0;
  }
  &:focus {
    text-decoration: none;
    border: none;
    outline: 0;
  }
  &:active {
    text-decoration: none;
    border: none;
    outline: 0;
  }
}
img {
  max-width: 100%;
  height: auto;
}
iframe {
  width: 100%;
  border: none;
}
button {
  &:focus {
    text-decoration: none;
    border: none;
    outline: 0;
    outline: none;
  }
  cursor: pointer;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ol {
  margin-bottom: 0;
}
select {
  &:focus {
    box-shadow: none;
    border: 0;
    outline: 0;
    outline: none;
  }
  &:active {
    box-shadow: none;
    border: 0;
    outline: 0;
  }
}
input {
  &:focus {
    outline: none;
  }
  &::-webkit-input-placeholder {
    color: #666;
  }
}
textarea {
  &:focus {
    outline: none;
    outline: none !important;
    box-shadow: none !important;
  }
  height: 120px;
  background: transparent;
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}
input[type="text"] {
  background: transparent;
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}
input[type="submit"] {
  background: transparent;
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  width: auto;
  color: #666;
  padding: 4px 15px;
}
button[type="submit"] {
  background: transparent;
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  width: auto;
  color: #666;
  padding: 4px 15px;
}
input[type="email"] {
  background: transparent;
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}
input[type="url"] {
  background: transparent;
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}
input[type="tel"] {
  background: transparent;
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}
input[type="search"] {
  background: transparent;
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}
input[type="password"] {
  background: transparent;
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}
input[type="number"] {
  background: transparent;
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}
.sec-title {
  text-align: center;
  max-width: 400px;
  margin: 0 auto 40px;
  h2 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
    top: -6px;
    .sec-title-border {
      width: 130px;
      position: absolute;
      bottom: 0;
      left: 0;
      border-top: 2px solid #222;
      right: 0;
      height: 0;
      margin: auto;
      span {
        width: 9px;
        height: 9px;
        position: relative;
        display: inline-block;
        margin: 0 1px;
        bottom: 23.3px;
        &::before {
          background: #222;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          transform: rotate(45deg);
        }
      }
    }
  }
}
.pricing-area {
  .sec-title {
    h2 {
      .sec-title-border {
        border-color: #fff;
        span {
          &::before {
            background-color: #fff;
          }
        }
      }
    }
  }
}
.download-area {
  .sec-title {
    h2 {
      .sec-title-border {
        border-color: #fff;
        span {
          &::before {
            background-color: #fff;
          }
        }
      }
    }
  }
}
.mt-100 {
  margin-top: 100px;
}
.mt-30 {
  margin-top: 30px;
}
.ptb-100 {
  padding: 100px 0;
}
.ptb-90 {
  padding: 90px 0;
}
.owl-nav {
  div {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 35px;
    background: #fff;
    color: #000;
    height: 35px;
    line-height: 36px;
    border-radius: 100%;
    text-align: center;
    font-size: 29px;
    transition: 0.4s;
    margin-top: -60px;
    &:hover {
      background: #000;
      color: #fff;
    }
  }
  div.owl-next {
    right: 20px;
    left: auto;
  }
}
.owl-dots {
  text-align: center;
  margin-top: 30px;
}
.owl-dot {
  width: 10px;
  height: 10px;
  border: 1px solid #0074da;
  border-radius: 10px;
  display: inline-block;
  margin: 0 3px;
}
.owl-dot.active {
  background: #0074da;
}
.display-table {
  display: table;
  height: 100%;
  width: 100%;
}
.display-tablecell {
  display: table-cell;
  vertical-align: middle;
}
.header.sticky {
  .mainmenu {
    li {
      a.appao-btn {
        border: 1px solid #fff;
        color: #fff;
        border-radius: 15px;
        padding: 6px 25px;
        display: inline-block;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 500;
        &:hover {
          background: #fff;
          border: 1px solid #fff;
          color: #666;
        }
      }
    }
  }
}
.mainmenu {
  li {
    a.appao-btn {
      border: 1px solid #fff;
      color: #fff;
      border-radius: 15px;
      padding: 6px 25px;
      display: inline-block;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 500;
      &:hover {
        background: #fff;
        border: 1px solid #fff;
        color: #666;
      }
    }
  }
}
.appao-btn {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 15px;
  padding: 6px 25px;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  &:hover {
    background: #fff;
    border: 1px solid #fff;
    color: #666;
  }
}
.appao-btn2 {
  border: 1px solid transparent;
  border-radius: 25px;
  background: #000529;
  background-image: -moz-linear-gradient(left, #000529 1%, #002055 24%, #005db5 67%, #0074d9 100%);
  background-image: -webkit-linear-gradient(left, #000529 1%, #002055 24%, #005db5 67%, #0074d9 100%);
  background-image: linear-gradient(to right, #000529 1%, #002055 24%, #005db5 67%, #0074d9 100%);
  &:hover {
    border: 1px solid #000529;
    background: transparent;
    background-image: none;
    color: #000529;
  }
}
.flexbox-center {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
