// Custom

$color_1: #fff;
$font_family_1: Roboto;
$background_color_1: rgb(16, 143, 241);
$border_color_1: #fff;

.btn-register {
  color: $color_1;
  background-color: $background_color_1;
  border: 1px solid #fff;
  padding: 10px 24px;
  border-radius: 4px;
  font-family: $font_family_1;
  font-weight: 400;
  margin-left: 20px;
}
.btn-login {
  color: $color_1;
  border: 1px solid #fff;
  padding: 10px 38px;
  border-radius: 4px;
  font-family: $font_family_1;
  font-weight: 400;
  &:hover {
    color: $color_1;
    background-color: $background_color_1;
    border-color: $border_color_1;
  }
}
.btn-join {
  color: $color_1;
  border: 1px solid #fff;
  padding: 10px 24px;
  border-radius: 4px;
  font-family: $font_family_1;
  font-weight: 400;
  margin-left: 20px;
  &:hover {
    color: $color_1;
    background-color: $background_color_1;
    border-color: $border_color_1;
  }
}
@media only screen and (max-width: 520px) {
  .btn-join {
    margin-left: 5px;
  }
  .nav-bottom-fix {
    margin-top: 20px;
  }
}
