/*Recent Blog start*/
/*Recent blog area end*/
.recent_blog {
  width: 100%;
  text-align: center;
  overflow: hidden;
  background-color: #f6f7fb;
  word-break: break-all;
  h2 {
    margin-top: 100px;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    word-break: keep-all;
  }
  p {
    font-size: 16px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 20px;
  }
}
.recent-blog-area {
  padding: 0px 0px 50px;
  background-repeat: no-repeat;
  background-position: left top;
  background-color: #f6f7fb;
  .recent-blog-col {
    .recent-blog-img {
      .cs-bg-path {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(198, 164, 126, 0.8);
        visibility: hidden;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
    }
    &:hover {
      .cs-bg-path {
        visibility: visible;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
    }
  }
}
.recent-blog-col {
  margin-bottom: 30px;
  border: 2px solid #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  &:hover {
    border-color: #c6a47e;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}
.recent-blog-content {
  width: 100%;
  padding: 20px 20px 30px 20px;
  word-break: keep-all;
  color: #000;
  background-color: #fff;
  h4 {
    font-size: 20px;
    font-weight: 700;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    a {
      font-size: 12px;
      text-decoration: underline;
      color: #000;
      font-weight: 400;
    }
  }
  span {
    a {
      color: #000;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      word-break: keep-all;
    }
  }
}
.recent-blog-img {
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  img {
    width: 100%;
  }
}
