/*===================================================================
                   Contact page css
====================================================================*/
/*contact-us*/
/*end contact-us*/
.bg-white {
  background-color: #fff;
  padding-top: 50px;
}
.bg-black {
  background-color: #000;
}
.contact-box {
  text-align: center;
  padding: 40px 0 40px;
  position: relative;
  .contact-box-icon {
    i {
      width: 100%;
      height: 100%;
      line-height: 58px;
      border-radius: 50%;
      background: #31a7f1;
      font-size: 30px;
      color: #fff;
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
    }
  }
  .backside {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top: -40px;
    left: 50%;
    padding: 10px;
    transform: translateX(-50%);
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: #fff;
    box-shadow: 5px 15px 50px 20px #ededed;
  }
  .title {
    width: 100%;
    margin: 10px auto;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 700;
    color: #555555;
    text-transform: uppercase;
    position: relative;
  }
  .contact-box-content {
    width: 80%;
    margin: 10px auto;
    font-size: 14px;
    font-weight: 400;
    color: #555555;
    position: relative;
  }
  h3 {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  h4 {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 40px;
  }
}
