extends ./../layouts/base

block vars
  -title = 'List page'
  -bodyClass = 'list'

block content

  section.page.list-page
    h1.page-title List page
    a(href="/list/detail") This is a detail page