extends ./layouts/base

block vars
  - title = 'Homepage'
  - bodyClass = 'home'

block content
  include ./components/intro
  section.page.home-page
    .container
      .grid
        //- Side bar
        .cell-3.cell-desktop.push-9.push-desktop
          nav.nav.nav-lined.pg-sidebar
            a.nav-link(href="#getting-started") Getting started
            a.nav-link(href="#typography") Typography
            a.nav-link(href="#grid-system") Grid system
            a.nav-link(href="#buttons") Buttons
            a.nav-link(href="#forms") Forms
            a.nav-link(href="#tables") Tables
            a.nav-link(href="#navs") Navs
            a.nav-link(href="#cards") Cards
            a.nav-link(href="#utilities") Utilities
            a.nav-link(href="#top"): small Back to top

        //- Main body
        .cell-9.cell-desktop.pull-3.pull-desktop

          //- Typography
          section.pg-section#typography
            h1 Typography

            h3 Headings
            .pg-demo
              h1 h1. Heading
              h2 h2. Heading
              h3 h3. Heading
              h4 h4. Heading
              h5 h5. Heading
              h6 h6. Heading

            h3 Paragraphs
            .pg-demo
              p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
              p Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
              p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.

            h3 Blockquotes
            .pg-demo
              blockquote
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

            h3 Horizontals
            .pg-demo
              hr
              hr.dotted
              hr.dashed

            h3 Links
            .pg-demo
              a(href="#") Sample link
              br
              a(href="#") Another link

            h3 Lists
            h4 Basic
            .pg-demo
              ul
                li Lorem ipsum dolor sit amet
                li Consectetuer adipiscing elit
                li Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
                li Ut wisi enim ad minim veniam
                li Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat
              ol
                li Lorem ipsum dolor sit amet
                li Consectetuer adipiscing elit
                li Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
                li Ut wisi enim ad minim veniam
                li Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat
            h4 Unstyled
            .pg-demo
              ul.unstyled
                li Text
                li: a(href="#") Link
                li: a(href="#") Link
            h4 Inline
            .pg-demo
              ul.inline
                li Text
                li: a(href="#") Link
                li: a(href="#") Link

            h3 Description lists
            .pg-demo
              dl
                dt Lorem ipsum
                dd Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                dt Ut wisi enim
                dd Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                dt Duis autem
                dd Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.

            h3 Code
            .pg-demo
              p A paragraph always was wrapped with a <code>&lt;p&gt;</code> tag.
              pre.prettyprint &lt;p&gt;A paragraph always was wrapped with a &lt;code&gt;&amp;lt;p&amp;gt;&lt;/code&gt; tag.&lt;/p&gt;


          //- Grid system
          section.pg-section.pg-grids#grid-system
            h1 Grid system
            h3 Basic
            .pg-demo
              .grid
                .cell .cell
                .cell .cell
                .cell .cell
                .cell .cell
                .cell .cell
                .cell .cell
                .cell .cell
                .cell .cell
                .cell .cell
                .cell .cell
                .cell .cell
                .cell .cell
            h3 Sizing cells
            h4 Basic
            .pg-demo
              .grid
                .cell-1 .cell-1
                .cell-1 .cell-1
                .cell-1 .cell-1
                .cell-1 .cell-1
                .cell-1 .cell-1
                .cell-1 .cell-1
                .cell-1 .cell-1
                .cell-1 .cell-1
                .cell-1 .cell-1
                .cell-1 .cell-1
                .cell-1 .cell-1
                .cell-1 .cell-1
              .grid
                .cell-2 .cell-2
                .cell-2 .cell-2
                .cell-2 .cell-2
                .cell-2 .cell-2
                .cell-2 .cell-2
                .cell-2 .cell-2
              .grid
                .cell-3 .cell-3
                .cell-3 .cell-3
                .cell-3 .cell-3
                .cell-3 .cell-3
              .grid
                .cell-4 .cell-4
                .cell-4 .cell-4
                .cell-4 .cell-4
              .grid
                .cell-6 .cell-6
                .cell-6 .cell-6
              .grid
                .cell-12 .cell-12
            h4 Responsive
            p The <code>.cell-tablet</code> class make the cell floating only effective when viewport wider than 768 pixels. The <code>.cell-desktop</code> class make the cell floating only effective when viewport wider than 992 pixels.
            .pg-demo
              .grid
                .cell-4 .cell-4
                .cell-4 .cell-4
                .cell-4 .cell-4
              .grid
                .cell-4.cell-tablet .cell-4.cell-tablet
                .cell-4.cell-tablet .cell-4.cell-tablet
                .cell-4.cell-tablet .cell-4.cell-tablet
              .grid
                .cell-4.cell-desktop .cell-4.cell-desktop
                .cell-4.cell-desktop .cell-4.cell-desktop
                .cell-4.cell-desktop .cell-4.cell-desktop
            h3 Offsetting cells
            h4 Basic
            .pg-demo
              .grid
                .cell-4 .cell-4
                .cell-4 .cell-4
                .cell-4 .cell-4
              .grid
                .cell-4 .cell-4
                .cell-4.offset-4 .cell-4.offset-4
            h4 Responsive
            p The <code>.offset-tablet</code> class make the cell offsetting only effective when viewport wider than 768 pixels. The <code>.offset-desktop</code> class make the cell offsetting only effective when viewport wider than 992 pixels.
            .pg-demo
              .grid
                .cell-4 .cell-4
                .cell-4 .cell-4
                .cell-4 .cell-4
              .grid
                .cell-4 .cell-4
                .cell-4.offset-4.offset-tablet .cell-4.offset-4.offset-tablet
              .grid
                .cell-4 .cell-4
                .cell-4.offset-4.offset-desktop .cell-4.offset-4.offset-desktop
            h3 Ordering cells
            h4 Basic
            .pg-demo
              .grid
                .cell-4 .cell-4
                .cell-8 .cell-8
              .grid
                .cell-4.push-8 .cell-4.push-8
                .cell-8.pull-4 .cell-8.pull-4
            h4 Responsive
            p The <code>.pull-tablet</code> and <code>.push-tablet</code> classes make the cell ordering only effective when viewport wider than 768 pixels. The <code>.pull-desktop</code> and <code>.push-desktop</code> classes make the cell ordering only effective when viewport wider than 992 pixels.
            .pg-demo
              .grid
                .cell-4 .cell-4
                .cell-8 .cell-8
              .grid
                .cell-4.push-8.push-tablet .cell-4.push-8.push-tablet
                .cell-8.pull-4.pull-tablet .cell-8.pull-4.pull-tablet
              .grid
                .cell-4.push-8.push-desktop .cell-4.push-8.push-desktop
                .cell-8.pull-4.pull-desktop .cell-8.pull-4.pull-desktop
            h3 Nesting cells
            .pg-demo
              .grid
                .cell-8 .cell-8
                  .grid
                    .cell-4 .cell-4
                    .cell-4 .cell-4
                    .cell-4 .cell-4
                .cell-4 .cell-4
                  .grid
                    .cell-6 .cell-6
                    .cell-6 .cell-6

          //- Buttons
          section.pg-section#buttons
            h1 Buttons
            h3 Basic
            .pg-demo
              a.button Link
              button.button Button
              input.button(type="button", value="Input")
              input.button(type="submit", value="Submit")
            h3 Colors
            .pg-demo
              button.button Black
              button.button.button-red Red
              button.button.button-green Green
              button.button.button-blue Blue
            h3 Disabled state
            .pg-demo
              a.button.disabled Link
              button.button(disabled) Button
              button.button.button-blue(disabled) Blue button

          //- Forms
          section.pg-section#forms
            h1 Forms
            h3 Input, select and textarea
            h4 Basic
            .pg-demo
              p: input.input(type="text" placeholder="Input")
              p: textarea.input(row="3" placeholder="Textarea")
              p: select.input
                option 1
                option 2
                option 3
            h4 Colors
            .pg-demo
              p: input.input(type="text", placeholder="Black")
              p: input.input.input-red(type="text", placeholder="Red")
              p: input.input.input-green(type="text", placeholder="Green")
              p: input.input.input-blue(type="text", placeholder="Blue")
            h4 Disabled state
            .pg-demo
              p: input.input(type="text", placeholder="Disabled input", disabled)
              p: textarea.input(row="3", placeholder="Disabled textarea", disabled)
              p: select.input(disabled)
                option Disabled select
            h4 File input
            .pg-demo
              input.input(type="file")
            h3 Radio
            h4 Basic
            .pg-demo
              label.radio
                input(type="radio", name="radio-option-1")
                | Lorem ipsum dolor sit amet.
              label.radio
                input(type="radio", name="radio-option-1")
                | Consectetuer adipiscing elit.
              label.radio
                input(type="radio", name="radio-option-1")
                | Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            h4 Inline
            .pg-demo
              label.radio.radio-inline
                input(type="radio", name="radio-option-1")
                | Lorem ipsum dolor sit amet.
              label.radio.radio-inline
                input(type="radio", name="radio-option-1")
                | Consectetuer adipiscing elit.
              label.radio.radio-inline
                input(type="radio", name="radio-option-1")
                | Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            h3 Checkbox
            h4 Basic
            .pg-demo
              label.checkbox
                input(type="checkbox", name="radio-option-1")
                | Lorem ipsum dolor sit amet.
              label.checkbox
                input(type="checkbox", name="radio-option-1")
                | Consectetuer adipiscing elit.
              label.checkbox
                input(type="checkbox", name="radio-option-1")
                | Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            h4 Inline
            .pg-demo
              label.checkbox.checkbox-inline
                input(type="checkbox", name="radio-option-1")
                | Lorem ipsum dolor sit amet.
              label.checkbox.checkbox-inline
                input(type="checkbox", name="radio-option-1")
                | Consectetuer adipiscing elit.
              label.checkbox.checkbox-inline
                input(type="checkbox", name="radio-option-1")
                | Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.

            h3 Field
            .pg-demo
              .field
                label.label(for="input") Label
                input.input#input(type="text", placeholder="Input")

            h3 Fieldset and legend
            .pg-demo
              form
                fieldset
                  legend Fieldset 1
                fieldset
                  legend Fieldset 2

            h3 Example usage
            .pg-demo
              form.grid
                fieldset.cell-6.cell-tablet
                  legend Sign In
                  .field
                    label.label(for="input-username") Username or email address
                    input.input#input-username(type="text", placeholder="Username / email")
                  .field
                    label.label(for="input-password") Password
                    input.input#input-password(type="password", placeholder="Password")
                  .field
                    label.checkbox
                      input(type="checkbox")
                      | Remember me
                  button.button(type="submit") Sign in
                fieldset.cell-6.cell-tablet
                  legend Sign Up
                  .field
                    input.input(type="text", placeholder="Pick a username")
                  .field
                    input.input(type="email", placeholder="Your email")
                  .field
                    input.input(type="password", placeholder="Create a password")
                  button.button(type="submit") Sign up

          //- Tables
          section.pg-section#tables
            h1 Tables
            h3 Basic
            .pg-demo
              table.table
                thead
                  tr
                    th #
                    th Heading
                    th Heading
                    th Heading
                    th ...
                tbody
                  tr
                    td 1
                    td Content
                    td Content
                    td Content
                    td ...
                  tr
                    td 2
                    td Content
                    td Content
                    td Content
                    td ...
                  tr
                    td 3
                    td Content
                    td Content
                    td Content
                    td ...

            h3 Striped
            .pg-demo
              table.table.table-striped
                thead
                  tr
                    th #
                    th Heading
                    th Heading
                    th Heading
                    th ...
                tbody
                  tr
                    td 1
                    td Content
                    td Content
                    td Content
                    td ...
                  tr
                    td 2
                    td Content
                    td Content
                    td Content
                    td ...
                  tr
                    td 3
                    td Content
                    td Content
                    td Content
                    td ...

            h3 Lined
            .pg-demo
              table.table.table-lined
                thead
                  tr
                    th #
                    th Heading
                    th Heading
                    th Heading
                    th ...
                tbody
                  tr
                    td 1
                    td Content
                    td Content
                    td Content
                    td ...
                  tr
                    td 2
                    td Content
                    td Content
                    td Content
                    td ...
                  tr
                    td 3
                    td Content
                    td Content
                    td Content
                    td ...

            h3 Bordered
            .pg-demo
              table.table.table-bordered
                thead
                  tr
                    th #
                    th Heading
                    th Heading
                    th Heading
                    th ...
                tbody
                  tr
                    td 1
                    td Content
                    td Content
                    td Content
                    td ...
                  tr
                    td 2
                    td Content
                    td Content
                    td Content
                    td ...
                  tr
                    td 3
                    td Content
                    td Content
                    td Content
                    td ...

            h3 Responsive
            p Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive</code> to make them scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, you will not see any difference in these tables.
            .pg-demo
              .table-responsive
                table.table
                  thead
                    tr
                      th #
                      th Heading
                      th Heading
                      th Heading
                      th Heading
                      th Heading
                      th ...
                  tbody
                    tr
                      td 1
                      td Content
                      td Content
                      td Content
                      td Content
                      td Content
                      td ...
                    tr
                      td 2
                      td Content
                      td Content
                      td Content
                      td Content
                      td Content
                      td ...
                    tr
                      td 3
                      td Content
                      td Content
                      td Content
                      td Content
                      td Content
                      td ...

          //- Navs
          section.pg-section#navs
            h1 Navs
            h3 Basic
            .pg-demo
              nav.nav
                a.nav-link Link
                a.nav-link Link
                a.nav-link Link
            h3 Inline
            .pg-demo
              nav.nav.nav-inline
                a.nav-link Link
                a.nav-link Link
                a.nav-link Link
            h3 Lined
            .pg-demo
              nav.nav.nav-lined
                a.nav-link Link
                a.nav-link Link
                a.nav-link Link
              nav.nav.nav-inline.nav-lined
                a.nav-link Link
                a.nav-link Link
                a.nav-link Link
            h3 Active state
            .pg-demo
              nav.nav
                a.nav-link Link
                a.nav-link.active Active link
                a.nav-link Link
            h3 Disabled state
            .pg-demo
              nav.nav
                a.nav-link Link
                a.nav-link.disabled Disabled link
                a.nav-link Link

          //- Cards
          section.pg-section#cards
            h1 Cards
            h3 Basic
            .pg-demo
              .card
                h5 Lorem ipsum
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                a.card-link(href="#") Card Link
                a.card-link(href="#") Another link
            h3 Bordered
            .pg-demo
              .card.card-bordered
                h5 Lorem ipsum
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                button.button(type="button") Button
                button.button(type="button") Button
            h3 Sizing
            .pg-demo
              .grid
                .cell-4.cell-tablet
                  .card
                    h5 Lorem ipsum
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                    button.button(type="button") Button
                    button.button(type="button") Button
                .cell-4.cell-tablet
                  .card
                    h5 Duis autem
                    p Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                    button.button(type="button") Button
                    button.button(type="button") Button
                .cell-4.cell-tablet
                  .card
                    h5 Nam liber
                    p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
                    button.button(type="button") Button
                    button.button(type="button") Button

          //- Utilities
          section.pg-section#utilities
            h1 Utilities
            h3 Hide content
            p The <code>.hidden</code> class can hide an element visually and from screen readers.
            .pg-code
              pre.prettyprint &lt;div class=&quot;hidden&quot;&gt;...&lt;/div&gt;
            h3 Hide content visually
            p The <code>.visuallyhidden</code> class can hide an element only visually, but have it available for screen readers.
            p The optional <code>.focusable</code> class extends the <code>.visuallyhidden</code> class to allow the element to be focusable when navigated to via the keyboard.
            .pg-code
              pre.prettyprint.
                &lt;div class=&quot;visuallyhidden&quot;&gt;...&lt;/div&gt;
                &lt;div class=&quot;visuallyhidden focusable&quot;&gt;...&lt;/div&gt;
            h3 Invisible content
            p The <code>.invisible</code> class can only hide an element from the visibility.
            .pg-code
              pre.prettyprint &lt;div class=&quot;invisible&quot;&gt;...&lt;/div&gt;
            h3 Clearfix
            p Easily clear <code>float</code>s by adding <code>.clearfix</code> to the parent element.
            .pg-code
              pre.prettyprint &lt;div class=&quot;clearfix&quot;&gt;...&lt;/div&gt;
            h3 Floats
            h4 Basic
            p The <code>.float-left</code> class can float an element to left and the <code>.float-right</code> class can float an element to right. The <code>!important</code> is included to avoid specificity issues.
            .pg-demo
              .clearfix
                .float-left Float left
                .float-right Float right
            h4 Responsive
            p The <code>.float-tablet</code> class make the floats only effective when viewport wider than 768 pixels. The <code>.float-desktop</code> class make the floats only effective when viewport wider than 992 pixels.
            .pg-demo
              .clearfix
                .float-left.float-tablet Float left when viewport wider than 768 pixels
                .float-right.float-tablet Float right when viewport wider than 768 pixels
              .clearfix
                .float-left.float-desktop Float left when viewport wider than 992 pixels
                .float-right.float-desktop Float right when viewport wider than 992 pixels
