extends ./layouts/base

block vars
  - title = 'Homepage'
  - bodyClass = 'home'

block content

  section.page.home-page
    h1.page-title Homepage
    p Frontend Boilerplate - A starter kit for frontend project using Yarn, Webpack, Pug, Sass, Babel, Bootstrap, jQuery and more.