/* src/assets/styles/layout/_structure.scss  */

html, body  {
  font-family: $quicksand;
  font-size: 14px;
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
