extends ./../../layouts/base

block vars
  -title = 'Detail page'
  -bodyClass = 'detail'
  -baseUrl = '../'

block content
  main.container
    section.page.detail-page
      h1.page-title Detail page
