/*
Bootstrap
*/
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
// @import '../../../node_modules/bootstrap/scss/variables';
// @import '../../../node_modules/bootstrap/scss/mixins';

/*
FontAwesome
*/
$fa-font-path: '../../../node_modules/@fortawesome/fontawesome-free/webfonts';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
// @import '../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';

$slick-font-path: "~slick-slider/slick/fonts/";
$slick-loader-path: "~slick-slider/slick/";
@import '~slick-slider/slick/slick.scss';
@import '~slick-slider/slick/slick-theme.scss';
/*
  Base
*/
@import './base/variables';
@import './utils/mixins';
@import './base/reset';
@import './base/fonts';
// @import './base/custom';

/*
  Utils
*/
@import './utils/utilities';
@import './utils/print';

/*
  Components
*/
// @import './base/gridsystem';
// @import './components/typography';
@import './components/common';
@import './components/buttons';
@import 'components/header';
@import './components/hero';
// @import './components/tables';
@import './components/footer';
@import './components/navs';
// @import './components/cards';
@import './components/address-box';
@import './components/counter';
@import './components/event_area';
@import './components/isotope-grid';
@import './components/speaker-box';
@import './components/footer';



/*
  Layout
*/
@import './layout/structure';
@import './layout/page';
@import './layout/reponsive';

/*
  Pages
*/
@import './pages/index';
@import './pages/blog';


// Libraries
@import 'libraries/slicknav.css'
