/*
  Base
*/
@import './base/custom';

/*
  Bootstrap
*/
@import '../../../node_modules/bootstrap/scss/bootstrap';

/*
  Utils
*/
@import './utils/mixins';

/*
  Components
*/
@import './components/header';
@import './components/footer';

/*
  Layout
*/
@import './layout/structure';
@import './layout/page';

/*
  Pages
*/
@import './pages/index';
@import './pages/blog';
