//- Header
header.pg-header#header
  .container
    .grid
      .cell
        nav.nav.nav-inline
          a.nav-link(href="./") Home
      .cell.float-right
        nav.nav.nav-inline
          a.nav-link(href="./list") List
