//- src/views/components/header.pug

header.header
  nav(role="navigation")
    img(src=require('source/assets/images/logo.png'), width="35")
    a.brand Frontend Boilerplate
    ul
      li: a(href="/") Home
      li: a(href="/list") List
