section#home.hero-area
  .hero-area-slider
    .hero-area-single-slide
      .container
        .row
          .col-lg-7
            .hero-area-content
              h1 It’s all about Promoting your Business
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              a.appao-btn(href='#') Google Play
              a.appao-btn(href='#') App Store
          .col-lg-5
            .hand-mockup.text-lg-left.text-center
              img(src='./assets/images/uploads/hand-mockup.png' alt='Hand Mockup')
    .hero-area-single-slide
      .container
        .row
          .col-lg-7
            .hero-area-content
              h1 It’s all about Promoting your Business
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              a.appao-btn(href='#') Google Play
              a.appao-btn(href='#') App Store
          .col-lg-5
            .hand-mockup.text-lg-left.text-center
              img(src='assets/images/uploads/hand-mockup.png' alt='Hand Mockup')
    .hero-area-single-slide
      .container
        .row
          .col-lg-7
            .hero-area-content
              h1 It’s all about Promoting your Business
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              a.appao-btn(href='#') Google Play
              a.appao-btn(href='#') App Store
          .col-lg-5
            .hand-mockup.text-lg-left.text-center
              img(src='assets/images/uploads/hand-mockup.png' alt='Hand Mockup')
// hero area end
