.pg-introduction
  .container
    .grid
      .cell-8.cell-desktop
        h1.page-title Homepage
        p Frontend Boilerplate - A starter kit for frontend project using Yarn, Webpack, Pug, Sass, Babel, Bootstrap, jQuery and more.
